body {
    background-color: #f0f0f0;
    color: #333;
}


body.dark-mode {
    background-color: #333;
    color: #fff;
}
.contenedor-header {
    background: #00ff11;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header,
header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header,
header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container-header,
header ul {
    display: flex;
    list-style: none;
}

.container-header,
header nav ul li a {
    text-align: none;
    color: #000000;
    margin-left:  10px;
    padding: 10px;
    transition: .5s;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-header,
header nav ul li a:hover {
    background-color: rgb(102, 0, 120);
    border-radius: 5PX;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #00a326;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97ffbc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown-item:hover {
    background-color: #00ff26;
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.inicio {
    height: 130vh;
    color: #000000;
    display: flex;
    align-items: center;

}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #00ff11;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;

}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 8px solid #6e0087;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.destacado {
    text-align: center;
}

.destacado a {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.destacado a:hover {
    background-color: rgb(21, 255, 0);
}

.destacado img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;

}

.lista {
    text-align: left;
    justify-content: center;
    display: flex;
}

.caja {
    background-color: rgb(108, 255, 113);
    color: rgb(0, 0, 0);
    text-align: center;
}

.caja button {
    border-radius: 10px;
    background-color: green;
    width: 100px;
    height: 50px;
}

.caja button a {
    text-decoration: none;
    color: black;
}

.caja button:hover {
    background-color: rgb(0, 255, 38);
}

.todo {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;

}

.tarjeta {
    background: rgb(147,17,217);
background: linear-gradient(90deg, rgba(147,17,217,1) 0%, rgba(73,232,23,1) 100%, rgba(255,255,255,1) 100%);
    width: 90%;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.tarjeta h1 {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;

}

.imagen img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.imagen{
    text-align: center;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}

.derecha {
    position: absolute;
    top: 6em;
    right: 1em;
    width: 16em;
    height: 16em;
    text-align: center;
    border: solid #6e0087;
    background-color: rgb(0, 142, 10);
    border-radius: 20px;
    padding-top: 40px;
}

.styled-table {
    width: 97%;
    border-collapse: collapse;
    margin: 20px;
}

.styled-table th, .styled-table td {
    border: 1px solid #000000;
    padding: 8px;
    
}

.styled-table th{
    background-color: #6e0087;
}


.styled-table tbody tr:nth-child(even) {
    background-color: #6e0087;
}

.gallery{
    text-align: center;
}

.thumbnail {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}

.comment-box {
    text-align: center;
    background-color: #57ff57;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    max-width: 400px;
}

.comment-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-box form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.comment-box form input[type="text"],
.comment-box form input[type="email"],
.comment-box form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.comment-box form button {
    background-color: #009407;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.close-button{
    position: absolute;
    border-radius: 5px;
    top: 140px;
    right: 380px;
    background-color: rgb(184, 184, 184);
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
}
.close-button h2{
    padding-left: 20px;
}
