body {
    margin: 0;
    padding: 0;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #3498db;
    position: absolute;
    top: 100px;
    left: 100px;
}

.box1 {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    position: relative;
    transition: transform 0.3s;
}

.box1:hover {
    transform: translate(100px, 100px);
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: #26ff00;
    position: fixed;
    top: 0; 
    left: 0; 
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #fbff00;
    float: left; 
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.left {
    float: left;
}

.center {
    display: inline-block;
}

.right {
    float: right;
}

.container {
    position: relative;
    text-align: center;
}

.text {
    color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    z-index: 1;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
}



